[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
scipy = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"
jupyterlab = "*"
seaborn = "*"
pandas = "*"
statsmodels = "*"
scikit-learn = "*"
scikit-image = "*"
librosa = "*"
streamlit = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.8"
